* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--gap: .5em;
	--index: calc(1vw + 1vh);
	--color-dark: #000;
}
body {
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header {
	text-transform: uppercase;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	letter-spacing: .1em;
	font-size: calc(var(--index) * 2.8);
	position: absolute;
	font-weight: 200;
	text-align: center;
	opacity: .9;
	margin-top: .2em;
}
.header span {
	display: block;
	font-family: Helvetica, sans-serif;
	font-size: calc(var(--index) * .75);
	margin-top: 5px;
}
.gallery {
	width: 30vw;
	column-width: 2em;
	gap: var(--gap);
	transform: scale(8.2);
	will-change: transform;
	transition: transform 1s cubic-bezier(.075, 1, .25, 1), opacity 1s;
}
.gallery__item {
	margin-bottom: var(--gap);
	transform: scale(1.001);
	will-change: transform;
	transition: .3s;
}
.gallery__item:hover {
	transform: scale(1.03);
}
.gallery__item img {
	width: 100%;
	display: block;
}
.loaded .gallery {
	opacity: 1;
}
.loaded .header span {
	opacity: 0;
}

/* DARK MODE OS */

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-dark);
	}
	.header {
		filter: invert(100%);
	}
}

/* MOBILE */

@media (max-width : 992px) {

	.header {
		position: relative;
	}

	body {
		overflow: scroll;
		display: block;
		padding: var(--gap);
	}

	.gallery {
		width: 100%;
		column-width: 10em;
		transform: scale(1);
	}
	.gallery__item:hover {
		transform: scale(1);
	}

}

.header {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50	;
	animation: animatedBg 5s linear infinite;
	
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(69, 68, 70, 0);
	z-index: 1;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__list li {
	list-style: none;
	margin: 0px 0px 0px 0px;
}
.header__list {
	display: flex;
	position: relative;
	z-index: 3	;
}
.header__link {
	color: #000;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 0px 10px;
	overflow: hidden;
}

	.header__logo {
		flex: 0 0 200px;
		z-index: 3;
		font-family: FontHeaderBar;
		transition: all .4s ease-in-out;
	}
	.header__logo:hover {
		color: #000;
		opacity: 1;
		font-weight: 500;
		text-shadow: 
	
	0 0 70px #333,
	0 0 80px #333,
	0 0 100px #333;
	}

	.header__logo a {
		text-decoration: none;
		color: #000;
		font-size: 32px;
	}
	.header__list a {
		transition: all .4s ease-in-out;
		opacity: 1;
	}

	.header__list a:hover {
		opacity: 1;
		}
	.content__text {
		font-size: 18px;
		line-height: 25px;
	}
	.content__text p {
		margin: 0px 0px 20px 0px;
		color: #000;
	}

	@media (max-width:767px){	
		.header__logo a {
			font-size: 26px;
		}