@font-face {
	font-family: FontHeaderBar; 
	src: url(./fonts/headertitle.ttf); 
}
@font-face {
	font-family: FontFooter;
	src: url(./fonts/titlefooter.ttf);
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50	;
	animation: animatedBg 5s linear infinite;
	
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(69, 68, 70, 0);
	z-index: 3;
}

.container {
	max-width: 1180px;
	margin: 0px auto;
	padding:0px 10px;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__list li {
	list-style: none;
	margin: 0px 0px 0px 0px;
}
.header__list {
	display: flex;
	position: relative;
	z-index: 3	;
}
.header__link {
	color: #000;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 0px 10px;
	overflow: hidden;
}

	.header__logo {
		flex: 0 0 200px;
		z-index: 3;
		font-family: FontHeaderBar;
		transition: all .4s ease-in-out;
	}
	.header__logo:hover {
		color: #000;
		opacity: 1;
		font-weight: 500;
	text-shadow: 
	
	0 0 70px #333,
	0 0 80px #333,
	0 0 100px #333;
	}

	.header__logo a {
		text-decoration: none;
		color: #000;
		font-size: 32px;
	}
	.header__list a {
		transition: all .4s ease-in-out;
		opacity: 0.6;
	}

	.header__list a:hover {
		opacity: 1;
		}
	.content__text {
		font-size: 18px;
		line-height: 25px;
	}
	.content__text p {
		margin: 0px 0px 20px 0px;
		color: #000;
	}
	.content {
		padding: 100px 0px 0px 0px;
	}
	.img__header {
		text-align: center;
	}
	.img__header img { 
		max-width: 100%;
		height: auto;
	}
