* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.25s cubic-bezier(.2, .6, 0, 1);
}
html, body {
	height: 100%;
	overflow: hidden;
}
.main-wrapper {
	height: 100%;
	display: flex;
	gap: var(--index);
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
}
.slider {
	transform: rotate(12.5deg);
	overflow: visible;
}
.slider:nth-child(odd) {
	transform: rotate(192.5deg);
}
.slider .slider__wrapper {
	transition: var(--transition)!important;
	will-change: transform;
}
.slider__item {
	width: 21vw;
	margin-bottom: calc(var(--index) * 2.6);
	cursor: pointer;
	transition: transform var(--transition);
	will-change: transform;
	box-shadow: rgb(0 0 0 / .15) 0 0 30px 10px;
}
.slider__item:hover {
	transform: scale(1.04);
}
.slider__img {
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 8px;
}
.slider:nth-child(odd) .slider__img {
	transform: rotate(-180deg);
}

.slider__item.opened {
	z-index: 2;
	transform: rotate(-12deg) scale(1.5);
}

@font-face {
	font-family: FontHeaderBar; 
	src: url(./fonts/headertitle.ttf); 
}
@font-face {
	font-family: FontFooter;
	src: url(./fonts/titlefooter.ttf);
}
@font-face {
	font-family: raleway_c;
	src: url(./fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}
@font-face {
	font-family: raleway_c;
	src: url(./fonts/raleway-v22-cyrillic-100.woff2);
	font-weight: 100;
}
.header {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50	;
	animation: animatedBg 5s linear infinite;
	
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(69, 68, 70, 1);
	z-index: 1;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__list li {
	list-style: none;
	margin: 0px 0px 0px 0px;
}
.header__list {
	display: flex;
	position: relative;
	z-index: 3	;
}
.header__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 0px 10px;
	overflow: hidden;
}

	.header__logo {
		flex: 0 0 200px;
		z-index: 3;
		font-family: FontHeaderBar;
		transition: all .4s ease-in-out;
	}
	.header__logo:hover {
		color: #000;
		opacity: 1;
		font-weight: 500;
		text-shadow: 
	
	0 0 70px #333,
	0 0 80px #333,
	0 0 100px #333;
	}

	.header__logo a {
		text-decoration: none;
		color: #fff;
		font-size: 32px;
	}
	.header__list a {
		transition: all .4s ease-in-out;
		opacity: 1;
	}

	.header__list a:hover {
		opacity: 1;
		}
	.content__text {
		font-size: 18px;
		line-height: 25px;
	}
	.content__text p {
		margin: 0px 0px 20px 0px;
		color: #000;
	}

	@media (max-width:767px){	
		.header__logo a {
			font-size: 26px;
		}
		.slider {
			transform: rotate(0deg);
			overflow: visible;
		}
		.slider:nth-child(odd) {
			transform: rotate(0deg);
		}
		.slider:nth-child(odd) .slider__img {
			transform: rotate(180deg);
		}
		.slider__item.opened {
			z-index: 3;
			transform: rotate(0deg) scale(1.5);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			min-height: 100vh;
			min-width: 100%;
		}
	}

